<!DOCTYPE html>
<html lang="{{#if page.lang}}{{page.lang}}{{else}}en{{/if}}">
<head>
    <meta charset="UTF-8">
    <title>{{#if page.title}}{{page.title}} | Local Brand{{else}}Local Brand{{/if}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/clientlib-base/resources/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/clientlib-base/resources/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/clientlib-base/resources/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/clientlib-base/resources/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/clientlib-base/resources/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {{#if page.lang}}
        <link rel="stylesheet" href="/assets/clientlib-lang/{{page.lang}}/css/font.css">
    {{else}}
        <link rel="stylesheet" href="/assets/clientlib-lang/ko/css/font.css">
    {{/if}}

    {{#block "head"}}
    {{/block}}
    <script>
        if( /MSIE \d|Trident.*rv:/.test(navigator.userAgent) ) {
            window.location = 'microsoft-edge:'+window.location;
            setTimeout( function() {
                window.location = 'https://support.microsoft.com/ko-kr/topic/이-웹-사이트는-microsoft-edge에서-더-잘-작동합니다-160fa918-d581-4932-9e4e-1075c4713595?ui=ko-kr&rs=ko-kr&ad=kr';
            }, 0 );
        }
    </script>
<body>
    <a href="#main" id="skipnav">go to main</a>
    {{> cookiePop}}
    {{> sideNav}}
    {{> header}}

    <div class="container" data-scroll-container data-direction>
        <main class="main" id="main">

        {{#block "body"}}
        {{/block}}

        </main>

        {{> footer}}
    </div>

    <script src="/assets/clientlib-base/js/vendors.js"></script>
    {{#block "foot"}}
    {{/block}}
</body>
</html>